.headNavegate {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 10px;
    line-height: 18.4px;
    .detailPg {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.5px;
        span {
            font-weight: 700;
            padding: 0 3px;
        }
    }
    .pagination {
        display: flex;
        grid-column-gap: 5px;
        button {
            border: none;
            background-color: #fff;
        }
        i {
            color: var(--color);
        }
        .itemPag {
            border-radius: 45px;
            width: 26px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.not {
                cursor: default;
            }
        }
        .showNumber {
            display: flex;
            grid-column-gap: 5px;
            .number {
                border-radius: 45px;
                width: auto;
                min-width: 26px;
                padding: 0 5px;
                height: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                line-height: 18.4px;
                font-size: 14px;
                &.active {
                    background-color: var(--color);
                    color: #fff;
                }
            }
        }
    }
}
