.contTirepN {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    gap: 10px;
    .nameRep {
        font-size: 20px;
        font-weight: 700;
        height: 30px;
        display: flex;
        align-items: center;
        span {
            color: var(--color);
        }
    }
    .icRep {
        display: flex;
        column-gap: 10px;
        align-items: center;
        height: 30px;
        .firstdiv {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        button {
            border: none;
            background-color: #fff;
        }
        .contInp {
            overflow: hidden;
            display: flex;
            align-items: center;
            column-gap: 10px;
            animation-duration: 1s;
            animation-name: showSearch;
            width: 100%;
            label {
                position: relative;
                width: 301px;
                input {
                    padding: 0.4rem 0.5rem;
                    width: 100%;
                    padding-right: 4rem;
                    border-radius: 12px;
                    border: 1px solid #b7b7b7;
                    font-size: 14px;
                }
                button {
                    background-color: var(--color);
                    width: 60px;
                    color: #fff;
                    font-size: 14px;
                    padding: 0.4rem 0.5rem;
                    position: absolute;
                    right: 0;
                    border: 1px solid var(--color);
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                    top: 0;
                    user-select: none;
                }
            }
            .btnclose {
                animation-duration: 1s;
                animation-name: showClose;
            }
        }
        i {
            cursor: pointer;
            &.active {
                color: var(--color);
            }
        }
    }
}

@keyframes showSearch {
    from {
        width: 0;
        margin-left: 100%;
    }
    to {
        width: 100%;
        margin-left: 0;
    }
}

@keyframes showClose {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    70% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 425px) {
    .contTirepN {
        .icRep {
            width: 100%;
            .contInp {
                label {
                    width: calc(100vw - 79px);
                }
            }
        }
    }
}
