.tableContent {
    display: grid;
    grid-template-columns: 200px auto;
    .allContainerColumns {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(180px, auto);
        overflow-x: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar:horizontal {
            height: 10px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            // -webkit-box-shadow: none;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #50505038;
            border-radius: 20px;
            &:hover {
                background-color: #50505094;
            }
            &:active {
                background-color: var(--color);
            }
        }
    }
    .containterColum {
        display: grid;
        grid-template-rows: 30px auto;
        .titleColum {
            display: flex;
            align-items: center;
            // justify-content: center;
            color: #000;
            font-weight: 500;
            font-family: "Roboto";
            padding: 0 11px;
        }
        .dateColum {
            display: grid;
            grid-auto-flow: row;
            grid-auto-rows: 40px;
            .item {
                padding: 11px;
                font-size: 14px;
                align-items: center;
                display: flex;
                border-bottom: 1px solid #e0e3e6;
                &:first-child {
                    .action {
                        .select {
                            top: -30px;
                            bottom: auto;
                        }
                    }
                }
                &.opt {
                    color: #7a8d9f;
                    .pointer {
                        cursor: pointer;
                    }
                }
                .action {
                    height: 36px;
                    width: 100%;
                    padding: 11px;
                    font-size: 14px;
                    align-items: center;
                    display: flex;
                    color: var(--color);
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: max-content;
                    grid-column-gap: 10px;
                    align-items: center;
                    position: relative;
                    .pointer {
                        cursor: pointer;
                    }
                    .select {
                        width: calc(100% - 30px);
                        max-width: 150px;
                        position: absolute;
                        bottom: 0px;
                        left: 30px;
                        right: 0;
                        text-align: center;
                        flex-direction: column;
                        display: none;
                        border: 1px solid #e4e4e4;
                        background: #fff;
                        z-index: 1;
                        &.show {
                            display: flex;
                            &:first-child {
                                top: -30px;
                                bottom: auto;
                            }
                        }
                        p {
                            text-align: left;
                            padding: 3px 10px;
                            color: #000;
                            cursor: pointer;
                            margin: 0;
                            &:hover {
                                background-color: #dcdcdc;
                            }
                        }
                    }
                }
                .imageName {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    .imgPhoto {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    overflow-wrap: anywhere;
                }
                .spaceFile {
                    cursor: pointer;
                    .file {
                        display: flex;
                        flex-direction: row-reverse;
                        column-gap: 5px;
                        align-items: center;
                        justify-content: flex-end;
                        span {
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            overflow-wrap: anywhere;
                        }
                    }
                }
            }
        }
    }
}
.ntnodata {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #676767;
}
